*{
    margin: 0;
    box-sizing: 0;

}

body {
    margin-top: 100px; 
  }


.Logo
{
   padding-left: 1rem;
}



.navbar{
    position: fixed;       
    top: 0;                
    width: 100%;           
    z-index: 1000;       
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(4, 136, 169, 0.1); 
}

.navList 
{
    display: flex;
    gap: 10px;
    padding-right: 10rem;

}

.navItems{
text-decoration: none;
color: black;
font-weight: bold;

}

.navItems:hover {
    color: #007bff; 
  }


.usernameDisplay {
    padding-left:20px ;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 0.85rem;  
    color: #098583;  
    text-align: center;
  }
  
.edit-prof{
    padding: 2rem;
}