*{
    margin: 0;
    box-sizing: 0;

}


.Logo
{
   padding-left: 1rem;
}

.navbar{
    backface-visibility: visible;
    background-color:rgb(245, 247, 248);
}

.navList 
{
    display: flex;
    gap: 10px;
    padding-right: 10rem;

}

.navItems{
text-decoration: none;
color: black;

}

.navItems:hover {
    color: #007bff; 
  }
